/* Base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* 10 px */
}

body {
    background-color: #1f2023;
}

/* utils */
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 2rem;
}

/* main */
#mem1,
#mem2,
#mem3,
#mem4 {
    display: none;
}

.slider-block {
    max-width: 120rem;
    gap: 4rem;
}


.description-block {
    max-width: 70rem;
    justify-content: space-between;
}

/* slider */
.slider {
    max-width: 70rem;
    overflow: hidden;
    align-items: flex-end;
}

.img-wrapper {
    max-width: 100%;
    flex-shrink: 0;
    border-radius: 0.9rem;
    overflow: hidden;
}

.slider-item {
    width: 100%;
    object-fit: cover;
}

/* text */
.text-box {
    width: 60%;
    overflow: hidden;
}

.mem-text {
    width: 100%;
    flex-shrink: 0;
    font-size: 3.2rem;
    color: #b3b3b3;
}

/* slider / text animation*/
.mem {
    transition: all 0.3s;
}

#mem1:target ~ .slider-block .mem {
    transform: translateX(0);
}


#mem2:target ~ .slider-block .mem {
    transform: translateX(-100%);
}

#mem3:target ~ .slider-block .mem {
    transform: translateX(-200%);
}

#mem4:target ~ .slider-block .mem {
    transform: translateX(-300%);
}

/* controllers */
.click-scope {
    text-decoration: none;
    width: 3rem;
    height: 5rem;
}

.controls-icon {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #67a56f;
    border-radius: 50%;
}

.mem1,
#mem1:target ~ .slider-block .mem1,
#mem2:target ~ .slider-block .mem2,
#mem3:target ~ .slider-block .mem3,
#mem4:target ~ .slider-block .mem4 {
    background-color: #1f2023;
    border: 0.2rem solid #67a56f;
}

#mem2:target ~ .slider-block .mem1,
#mem3:target ~ .slider-block .mem1,
#mem4:target ~ .slider-block .mem1 {
    background-color: #67a56f;
    border: 0.2rem solid #67a56f;
}

#mem2:target ~ .slider-block .click-scope:hover .mem1,
#mem3:target ~ .slider-block .click-scope:hover .mem1,
#mem4:target ~ .slider-block .click-scope:hover .mem1,
.click-scope:hover .controls-icon {
    background-color: #b3b3b3;
    border: 0.2rem solid #b3b3b3;
}

#mem2:target ~ .slider-block .click-scope:active .mem1,
#mem3:target ~ .slider-block .click-scope:active .mem1,
#mem4:target ~ .slider-block .click-scope:active .mem1,
.click-scope:active .controls-icon {
    background-color: #1f2023;
    border: 0.2rem solid #b3b3b3;
}

.click-scope:hover .mem1,
#mem1:target ~ .slider-block .click-scope:hover .mem1,
#mem2:target ~ .slider-block .click-scope:hover .mem2,
#mem3:target ~ .slider-block .click-scope:hover .mem3,
#mem4:target ~ .slider-block .click-scope:hover .mem4 {
    background-color: #1f2023;
    border: 0.2rem solid #b3b3b3;
}


@media only screen and (width < 37.5em /*600px*/) {
    .slider-block {
    max-width: 120rem;
    gap: 2rem;
}

    .description-block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .controls-box {
        order: -1;
    }

    .mem-text {
        text-align: center;
         font-size: 2.4rem;
    }
}
