* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* 10 px */
    background-color: #000000;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 120rem;
    margin: 10rem auto;
    padding: 2rem;
    background-color: rgba(40, 180, 133, 0.4);
}

.transition {
    transition: all 0.5s;
}

.slider-block {
    max-width: 120rem;
    gap: 2rem;
}

.slider-box {
    max-width: 50rem;
    overflow: hidden;
}

.slider {
    align-items: center;
}

.img-wrapper {
    max-width: 100%;
    flex-shrink: 0;
    border-radius: 3rem;
    overflow: hidden;
}

.slider-item {
    width: 100%;
    object-fit: cover;
    /*opacity: 0;*/
}

.description-block {
    max-width: 50rem;
    justify-content: space-between;
}

.click-scope {
    width: 3rem;
    height: 3rem;
    background-color: yellow;
    border: blue solid 1px;
}

.text-box {
    gap: 1rem;
    width: 60%;
    overflow: hidden;
}

.mem-text {
    width: 100%;
    flex-shrink: 0;
    font-size: 2.4rem;
    /*opacity: 0;*/
}

.controls-icon {
    width: 1rem;
    height: 1rem;
    background-color: #000000;
    border-radius: 50%;
}

.mem1,
.mem2,
.mem3,
.mem4 {
    opacity: 0;
    order: 1;
}

/*#mem1 {*/
/*    width: 10rem;*/
/*    height: 10rem;*/
/*    background-color: #000000;*/
/*}*/
#mem2:target ~ .slider-block .mem2,
#mem1:target ~ .slider-block .mem1 {
    order: -1;
    opacity: 1;
}

/*.click-scope:hover .controls-icon  {*/
/*  background-color: red;*/
/*}*/

/*.mem-text:hover + .controls-box .click-scope{*/
/*  background-color: red;*/
/*}*/

/*.text-box:hover + .controls-box .click-scope {*/
/*  background-color: red;*/
/*}*/
