* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* 10 px */
    background-color: #000000;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 120rem;
    margin: 10rem auto;
    padding: 2rem;
    background-color: rgba(40, 180, 133, 0.4);
}

.slider-block {
    max-width: 120rem;
}
.slider-box {
    max-width: 50rem;
    overflow: hidden;
}

.slider {
    align-items: center;
}

.img-wrapper {
    max-width: 100%;
    flex-shrink: 0;
    border-radius: 3rem;
    overflow: hidden;

}

.slider-item {
    width: 100%;
   object-fit: cover;
}

.description-block {
    max-width: 50rem;
    justify-content: space-between;
}

.click-scope {
     width: 3rem;
    height: 3rem;
    background-color: yellow;
    border: blue solid 1px;
}

.text-box {
    gap: 1rem;
    width: 60%;
    overflow: hidden;
}

.mem-text {
    width: 100%;
    flex-shrink: 0;
    font-size: 2.4rem;
}

.controls-icon {
    width: 1rem;
    height: 1rem;
    background-color: #000000;
    border-radius: 50%;
}
